.page-header {
    text-align: center;
}
.bg-1 {
    background-color: #043c96;
}
.top-spacing {
    margin-top:20px;
}
.footer {
    height: 200px;
}
.align-text-right {
    text-align: right;
}
.align-text-center {
    text-align: center;
}